Source: ngcp-asterisk
Section: comm
Priority: extra
Maintainer: Sipwise Development Team <support@sipwise.com>
Build-Depends: autotools-dev,
               debhelper (>= 7),
               libltdl-dev,
               libncurses-dev,
               libssl-dev,
               unixodbc-dev
Standards-Version: 3.9.3

Package: ngcp-asterisk
Architecture: any
Depends: libmyodbc,
         ngcp-asterisk-sounds,
         unixodbc,
         ${misc:Depends},
         ${shlibs:Depends}
Description: Sipwise's custom asterisk for NGCP platforms.
 This package provides Asterisk 1.4.24.1 with Sipwise and asterisk-es-rsp.org patches.
