Source: ngcp-asterisk
Section: comm
Priority: extra
Maintainer: Sipwise Development Team <support@sipwise.com>
Build-Depends: debhelper (>= 7), autotools-dev, libssl-dev, libncurses-dev, libltdl-dev, unixodbc-dev
Standards-Version: 3.7.3

Package: ngcp-asterisk
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, unixodbc, ngcp-asterisk-sounds, libmyodbc
Description: Sipwise's custom asterisk for NGCP platforms.
 This package provides Asterisk 1.4.24.1 with Sipwise and asterisk-es-rsp.org patches.
